@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* style card */
img {
    width: 100%;
    min-height: 250px;
    max-height: 350px;
    transition: .3s ease all;
}

.animecard a:hover {
    scale: 101%;
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #f9f9f9;
    border-right-color: #294c74;
    animation: spinner-d3wgkg 1s infinite linear;
 }
 
 @keyframes spinner-d3wgkg {
    to {
       transform: rotate(1turn);
    }
 }